<form method="post" action="/visited">
    <label for="continent">Continent:</label>
      <input id="continent" type="VARCHAR" name="continent"/>
    <label for="country">Country:</label>
      <input id="country" type="VARCHAR" name="country"/>
    <label for="city">City:</label>
      <input id="city" type="VARCHAR" name="city"/>

    <input type="submit" value="visited"/>
</form>
