<h1>Wishlist</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/wishlist/new">Add new location</a>
</p>

<ul>
  <% for city in @cities %>
    <li>
    <p> <%= city.country.continent.name %> <%= city.country.name %> <%= city.name %> </p>
    </li>
  <% end %>
</ul>
