<h2>Continents</h2>

<table id='continent_table'>
  <tr>
    <th>Continent</th>
    <th>Visited (✓) or Wishlist (✗)?</th>
  </tr>
  <% for continent in @continents %>
  <tr>
    <td><a href="/continents/<%= continent.id %>"><%= continent.name %></a></td>
    <% if continent.visited == 't' %>
       <td><img src="tick.svg" alt="tick" style="width:30px;height:30px;"></td>
     <% else %>
       <td><img src="cross.svg" alt="cross" style="width:30px;height:30px;"></td>
    <% end %>
  </tr>
  <% end %>
</table>

<!-- <p class="btn--wrapper">
  <a class="btn btn--action" href="/continents/new">Add a new continent</a>
</p> -->
