<p>Continents</p>

<table>
  <tr>
    <th>Continent</th>
    <th>Visited?</th>
    <th></th>
  </tr>
  <% for continent in @continents %>
  <tr>
    <td><a href="/continents/<%= continent.id %>"><%= continent.name %></a></td>
    <% if continent.visited == 't' %>
       <td><img src="green_tick.png" alt="green_tick" style="width:30px;height:30px;"></td>
     <% else %>
       <td><img src="red_cross.png" alt="red_cross" style="width:30px;height:30px;"></td>
    <% end %>
  </tr>
  <% end %>
</table>

<!-- <p class="btn--wrapper">
  <a class="btn btn--action" href="/continents/new">Add a new continent</a>
</p> -->
