<h2>Create a new continent</h2>

<form action="/continents" method="post">
  <label for="name">Continent name:</label>
    <input id="name" type="text" name="name" />

    <p>Tick if this destination has been visited:</p>

    <div>
      <!-- <input type="checkbox" id="visited" name="visited" checked> -->
      <label for="true">Visited</label><input type="radio" id="true" name="visited" value="True"> <br>
      <label for="false">Unvisited</label><input type="radio" id="false" name="visited" value="False"><br>
    </div>

  <input type='submit' value="Submit"/>
</form>
