<!DOCTYPE html>
<html>
<head>
  <title>The Travel Bucketlist</title>
  <nav>
    <ul>
      <li>
        <a href="/visited">Visited</a>
      </li>
      <li>
        <a href="/wishlist">Wishlist</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
</html>
