<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/stylesheet.css">

  <title>The Travel Bucketlist</title>
  <!-- <nav>
    <ul>
      <li>
        <a href="/continents">Continents</a>
      </li>
      <li>
        <a href="/countries">Countries</a>
      </li>
      <li>
        <a href="/cities">Cities</a>
      </li>
    </ul>
  </nav> -->

  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/continents">Continents</a>
    <a href="/countries">Countries</a>
    <a href="/cities">Cities</a>
  </div>

  <section id="content">
  <%= yield %>
  </section>
</html>
