<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/stylesheet.css">

  <title>The Travel Bucketlist</title>

<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/continents">Continents</a></li>
  <li><a href="/countries">Countries</a></li>
  <li><a href="/cities">Cities</a></li>
</ul>

</body>

  <section id="content">
  <%= yield %>
  </section>
</html>
