<!DOCTYPE html>
<html>
<head>
  <title>The Travel Bucketlist</title>
  <nav>
    <ul>
      <li>
        <a href="/continents">Continents</a>
      </li>
      <li>
        <a href="/countries">Countries</a>
      </li>
      <li>
        <a href="/cities">Cities</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
</html>
