<p>Cities</p>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/cities/new">Add a new city</a>
</p>

<ul>
  <% for city in @cities %>
  <li>
  <p> <%= city.name %>
   <% if city.visited == 't' %>
      <img src="green_tick.png" alt="green_tick" style="width:30px;height:30px;">
      <form action="/cities/<%= city.id %>/delete" method="POST">
        <input class="city" type="submit" value="delete" />
      </form>
    <% else %>
      <img src="red_cross.png" alt="red_cross" style="width:30px;height:30px;">
      <form action="/cities/<%= city.id %>/delete" method="POST">
        <input class="city" type="submit" value="delete" />
      </form>
      </p>
   <% end %>
  </li>
  <% end %>
</ul>
