<h1><%= @city.name %></h1>

<table>
  <tr>
    <th>Date</th>
    <th>Photo</th>
    <th>Comment</th>
  </tr>
  <% for visit in @visits %>
  <tr>
    <td> <%= visit.date_visited %> </td>
    <td><img src="<%= visit.url %>" alt="photo" style="width:30px;height:30px;"></td>
    <td> <form action="/visits/<%= visit.id %>/delete" method="POST">
      <input class="visit" type="submit" value="delete" />
    </form> </td>
  </tr>
  <% end %>
</table>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/cities/new">Add a new visit</a>
</p>
