<form action="/countries/<%= @country.id %>" method="post">
  <label for="name">Country name:</label>
    <input id="name" type="text" name="name" value="<%= @country.name %>"/>

    <p>Tick if this destination has been visited:</p>

    <div>
      <!-- <input type="checkbox" id="visited" name="visited" checked> -->
      <% if @country.visited == true%>
      <label for="true">Visited</label><input type="radio" id="true" name="visited" value="True" checked="checked"><br>
      <label for="false">Unvisited</label><input type="radio" id="false" name="visited" value="False"><br>
      <% else %>
      <label for="true">Visited</label><input type="radio" id="true" name="visited" value="True"><br>
      <label for="false">Unvisited</label><input type="radio" id="false" name="visited" value="False" checked="checked"><br>
      <% end %>
    </div>

    <label>
      Select a continent:
      <select name="continent_id">
        <% for continent in @continents %>
        <option value="<%= continent.id %>"><%= continent.name %></option>
        <% end %>
      </select>
    </label>

  <input type='submit' value="Submit"/>
</form>
