<h1>Create a new city</h1>

<form action="/countries" method="post">
  <label for="name">Country name:</label>
    <input id="name" type="text" name="name" />

    <label>
      Select a continent:
      <select name="continent_id">
        <% for continent in @continents %>
        <option value="<%= continent.id %>"><%= continent.name %></option>
        <% end %>
      </select>
    </label>

    <p>Tick if this destination has been visited:</p>

    <div>
      <!-- <input type="checkbox" id="visited" name="visited" checked> -->
      <label for="true">Visited</label><input type="radio" id="true" name="visited" value="True"> <br>
      <label for="false">Unvisited</label><input type="radio" id="false" name="visited" value="False"><br>
    </div>

  <input type='submit' value="Submit"/>
</form>
